body            { background: #ecf0f1 0 -20px; padding: 0; margin: 0; }
p, a, h1, h2    { color: #2c3e50; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;}
h1              { border-bottom: 2px solid #eee; text-align:center;}
h2              { font-size: 1.2em; font-weight:100;}

.page           { margin: 2em auto; width: 22em;
                  padding: 0.8em; }

.error          { background: #F0D6D6; padding: 0.5em; }

img {
	text-align: center;
}

input[type='button'], input[type='submit'] {
	text-align: center;
	width: 47%;
	padding: 0;
	height: 30px;
	background: #2c3e50;
	font-size: 14px;
	color: white;
	border: none;
	font-weight: bold;
	display: inline-block;
	margin-top: 10px;
	border-radius: 6px;
}


.container {
	width: 90%;
	margin: 10px auto;
}