{% extends "home.html" %}
{% block body %}
	Good choice! Have a great day :)
	<div class = "outfitimg">
				<img src ="{{ outfit.outfit.url }}"/>
				{% if outfit.bottom.url %}
					<img src ="{{ outfit.bottoms.url }}" width="98" height="100"/>
					<img src ="{{ outfit.cover.url }}" width="98" height="100"/>
					<img src ="{{ outfit.shoes.url }}" width="98" height="100"/>
				{% else %}
					<img src ="{{ outfit.cover.url }}" width="150" height="150"/>
					<img src ="{{ outfit.shoes.url }}" width="150" height="150"/>
				{% endif %}
		
	</div>

{% endblock %}